body {
  /*background-image: url('picture 3.jpg');*/ /* Replace with your image path */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 150vh;
  display: flex;
  flex-direction: column;
  overflow-x:hidden;
}
main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.block-letters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em; /* Adjust font size as needed */
  color: white; /* Change color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add text shadow */
  z-index: 1; /* Ensure text appears above the image */
  font-weight: bolder;
}

span.block-letters:hover {
  color:rgba(144, 239, 254, 0.842); 
}
nav {
  background-color: rgba(144, 239, 254, 0.842);
  padding: 20px;
  width: 60%;
  border-radius: 30px;
  display: flex;
  justify-content: center; /* Align items with space in between */
  align-items: center; /* Center items vertically */
  margin: 10px auto; 

}
nav img {
  height: 40px; /* Adjust the height of the image */
  margin-right: 20px; /* Add margin to separate from the login button */
}
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 30px;
  text-align: center;
}
nav ul li {
  display:inline-flex;
  margin-right: 30px;
}
nav ul li:last-child {
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: -5px;
  left: 50%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
nav ul li a:hover {
  color: rgb(241, 140, 174);
}
.login-button {
  padding: 20px 30px;
  background-color: rgba(52, 50, 50, 0.092); 
  color: black; /* Initial text color */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}
.login-button:hover {
  background-color: rgba(236, 16, 16, 0.896);
  color: white; 
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.155); */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.feature-card {
  background-color: rgb(255, 255, 255); /* Set the background color with transparency */
  border-radius: 20px; /* Make the edges rounder */
  padding: 50px; /* Increase padding for a bigger card */
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.152), 
          0 4px 12px rgba(84, 240, 183, 0.616);*/ 
  text-align: center;
  width: 350px; /* Increase width for a bigger card */
}
.feature-card:hover{
  background-color: lavenderblush;
}
.feature-card h3 {
  margin-bottom: 20px;
  color: #000000;
}
.feature-card p {
  color: #111111d4;
}
.features-icon {
  width: 50px;
  height: 50px;
  fill: #000000;
  margin-bottom: 20px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content:center; /* Align buttons to the left */
  margin-top: 20px
  
  
}
.button-container button {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(214, 213, 213, 0.716);
  border-radius: 5px;
  height: 100px;
  cursor: pointer;
  background-color:rgb(255, 255, 255);
  color: rgb(231, 66, 66); 
  /*transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;*/
}
.button-container button:hover {
  background-color: lavenderblush;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.799);*/
}
.satisfied-users-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.satisfied-users-button:hover {
  transform: scale(1.1);
}
.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.satisfied-users-image {
  width: 80px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
}
.satisfied-users-text {
  font-weight: bold;
  font-size: 1 rem;
}
.reviews-button {
  padding:0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-button:hover {
  transform: scale(1.1);
}

.reports-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reports-button:hover {
  transform: scale(1.1);
}
h1{
  font-size: 2em;
  color: black;
  /*text-decoration:wavy;*/
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.964);*/
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  font-size:x-large;
  font-weight: bolder;
  color:black;
  /*text-decoration:wavy;*/
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.964);*/
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 2em;
    color: black;
    /*text-decoration:wavy;*/
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.964);*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
h3{
  font-size: 1.5em;
  color: black;
  /*text-decoration:wavy;*/
  /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.964);*/
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
  font-size: 1.5em;
  color:black;
  /*text-decoration:wavy;*/
 /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.964);*/
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin: 30px;
  width: 250px;
  border-radius: 50px;
}

.image1 {
  transform: translateY(-10px);
}

.image3 {
  transform: translateY(10px);
}
.contact-container {
display: flex;
justify-content: space-around;
align-items: center;
}
.contact {
display: flex;
flex-direction: column;
align-items: center;
}
.contact img {
margin-bottom: 0px;
}
footer {
    padding: 50px;
    text-align: center;
    color: black /* Match the color for text */
}
footer p {
    margin-bottom: 50px;
    color:black; /* Match the color for text */
    -webkit-text-fill-color: black; /* Match the color for text */
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 15s linear infinite;
    color:black; /* Match the color for text */
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
table {
    width: 100%;
}
td {
    padding: 50px;
    border: 5px solid lavenderblush
}
.item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.item button{
  padding: 50px;
  background-color:rgb(254, 254, 254);
}
.item button:hover{
    background-color: lavenderblush
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.799);*/
}
th{
    color: black;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
td{
    color: black;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
form{
    color:black;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
span{
  color: black;
}
.feature-card-button{
  font-size: 24px;
  color:rgb(235, 55, 214);
}
.image6 {
  width: 90%; 
  height: 100%;
  margin: 20px auto 0;
  display: block;
}
footer {
  padding: 20px;
  text-align: center;
  color: #333; /* Dark text color */
  font-size: 1em; /* Adjust font size as needed */
}
.social-icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 5px; /* Add some spacing between the icon and text */
}
a{
  font-size: 1rem;
}


